.container-header {
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.titulo-app {
    font-size: 55px;
    margin-top: 90px;
    z-index: 1;
}